.margin {
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:white;
    margin: 20px;
}

.home{
    height: 100%;
    margin: 10%;
}

.about{
    height: 100%;
    margin: 10%;
}

.products{
    height: 100%;
    margin: 10%;
}

.contact{
    height: 100%;
    margin: 10%;
}